html
    head
        title= "Submit Gram"
        link(rel='stylesheet', href='stylesheet.css')
    body
        h2= "Successful update"
            a(href="/")= "Go back"

        img(src=`/uploads/${photo}`)